.places {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-template-columns: auto-fit, 320px;
    display: grid;
    row-gap: 50px;
    padding: 64px 0 66px 0;
    max-width: 984px;
}


@media screen and (min-width: 768px) {
    .places {
      width: calc(100% - 48px);
      row-gap: 73px;
      padding: 0 24px 90px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
      width: calc(100% - 96px);
      row-gap: 80px;
      padding: 0 48px 92px 48px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
      padding: 0 0 92px 0;
    }
}