.footer__link {
    margin: 32px 0;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    /*text-align: start;*/
}

.footer__link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px){
   .footer__link {
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
   }
}
