.place__paragraph {
    font-size: 16px;
    line-height: 163%;
    font-weight: normal;
    color: #fff;
    justify-items: stretch;
    width: 288px;
    margin: 0 auto 25px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
      line-height: 26px;
      width: 100%;
    } 
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
  } 
}
