.lead__subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 56px;
        width: 640px;
        height: 72px;
    }
}



@media screen and (min-width: 1024px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 56px;
        width: 640px;
        height: 72px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 56px;
        width: 640px;
        height: 72px;
    }
}
