.cover  {
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 320px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    padding: 33px 16px;
}


@media screen and (min-width: 768px) {
    .cover {
        width: 768px;
        height: 480px;
        padding: 115px 104px;
    } 
    
}

@media screen and (min-width: 1024px) {
    .cover {
        width: 1024px;
        height: 640px;
        padding: 195px 232px;  
    } 

}

@media screen and (min-width: 1280px) {
    .cover {
        width: 1184px;
        height: 740px;
        padding: 245px 312px;
    } 

}




