    .cover__overlay:before {
        content:'';
        position: absolute;
        display: block;
        background-color: #2A2C2F;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
        transition: opacity 0.6s ease;
    }
    
    .cover__overlay:hover:before {
        opacity: 0.8;
    }


    