.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 134px);
    align-items: flex-start;
    padding-top: 64px;
    padding-bottom: 8px;
    flex-direction: column;
    max-width: 1184px;
}


@media screen and  (min-width: 768px) {
    .footer {
        align-items: center;
        width: calc(100% - 48px);
        padding-top: 72px;
        column-gap: 18px;
        flex-direction: row;
    }
}


@media screen and (min-width: 1024px) {
    .footer {
        width: calc(100% - 96px);
        padding-top: 76px;
    }
}