.root__footer {
    margin-left: 16px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px){
    .root__footer {
      margin: 0 auto;
    }
 }
 
 @media screen and (min-width: 1024px){
    .root__footer {
        margin: 0 auto;
      }
  }
 
  @media screen and (min-width: 1280px){
    .root__footer {
        margin: 0 auto;
      }
  }